<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>mes</title>
		<script id="sap-ui-bootstrap"
			src="https://sapui5.hana.ondemand.com/1.76.0/resources/sap-ui-core.js"
			data-sap-ui-appCachebuster="./"
			data-sap-ui-theme="sap_belize_plus"
			data-sap-ui-resourceroots='{
				"it.greenorange.mes": "./",
				"images" : "./images",
				"sap.ui.demo.mock": "mockdata",
				"libs" : "libs",
			  	"socket.io" : "libs/socket"}'
			data-sap-ui-compatVersion="edge"
			data-sap-ui-oninit="module:sap/ui/core/ComponentSupport"
			data-sap-ui-async="true"
			data-sap-ui-logLevel = "debug"
			data-sap-ui-frameOptions="trusted">
/*
supportedThemes: Array(8)
0: "sap_belize"
1: "sap_belize_hcb"
2: "sap_belize_hcw"
3: "sap_belize_plus"
4: "sap_fiori_3"
5: "sap_fiori_3_dark"
6: "sap_fiori_3_hcb"
7: "sap_fiori_3_hcw"
*/
		</script>
		<!--link rel="stylesheet" href="css/style.css"-->
	</head>
	<body class="sapUiBody">
		<div data-sap-ui-component 
			data-name="it.greenorange.mes" 
			data-height="100%"
			data-id="container" 
			data-settings='{"id" : "mes"}' 
			style="height: 100%"></div>
	</body>
</html>